/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  

  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  font-family: 'Inter';
  font-size: 16px;
  line-height: 1.5;
  color: #0F0F0F;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700;
  margin: 0;
}

.header--templates {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EDEDED;
  height: 44px;
  gap: 4px;
  flex-wrap: wrap;
  padding: 8px 16px;
}

.header--templates p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #0F0F0F;
  margin: 0;
  padding: 0;
}

.a--header {
  text-decoration: none;
  color: #D87775;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  display: inline-flex;
  align-items: center;
}

.a--header:hover {
  text-decoration: underline;
}

.container--small{
  max-width: 1130px;
  width: 90%;
  margin: 0 auto;
}

.container--big {
  max-width: 1230px;
  width: 90%;
  margin: 0 auto;
}

  /* Нижняя часть шапки с лого, заголовком и кнопкой */
.wrapper--coursely {
  width: 100%;
  background: #FBFBFB;
  border-bottom: 1px solid #F0F0F0;
}

.header--coursely {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  padding: 0 50px;
}

.header--logo {
  display: inline-flex;
  flex-shrink: 0;
}

.header--logo--image {
  width: 141px;
  height: 27px;
  display: block;
}

.header--coursely h1 {
  color: #757575;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1,493;
  text-align: center;
  flex: 1;
}

.header--button {
  width: 117px;
  height: 36px;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  background: #E48D8B;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  flex-shrink: 0;
}

.header--button:hover {
  background: #d67a78;
}

/* MAIN--course--hero */

.course--section{
  display: flex;
  justify-content: space-between;
  gap: 97px;
  margin-top: 122px;
}

.course--hero{
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  margin-top: 38px;
}

.course--image {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.course--hero h1{
  color: #0F0F0F;
  font-size: 49px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
  margin: 0 0 18px 0;
  letter-spacing: 2px;
}

.course--hero p {
  margin-right: 38px;
  color: #464646;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.price{
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-top: 13px;
  margin-bottom: 32px;
}

.current--price{
  color: #0F0F0F;
  font-size: 31px;
  font-weight: 700;
  line-height: 1.24; /* 123.871% */
  letter-spacing: 1.3px;
}

.old--price{
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.12; /* 112% */
  letter-spacing: 0.5px;
  text-decoration-line: line-through;
}

.button--image{
  display: inline;
}

.btn--primary{
  width: 154px;
  height: 43px;
  color: #FFF;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.59;
  background: #E48D8B;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  flex-shrink: 0;
  margin-right: 12px;
  padding: 0;
}

.btn--secondary{
  width: 183px;
  height: 43px;
  color: #757575;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  background: #EDEDED;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  flex-shrink: 0;
}

/* MAIN feature--section */

.feature--section{
  margin-top: 216px;
}

.features--grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.features--card{
  display: flex;
  width: 334px;
  padding-bottom: 13.438px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  flex-shrink: 0;
}

.card2{
  padding: 0 29px 13.438px 0;
}

.card3{
  padding: 0 13px 13.438px 0;
}

.features--card img{
  flex-shrink: 0;
}

.features--card h3{
  color: #0F0F0F;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  letter-spacing: 0.7px;
}

.features--card p{
  color: #0F0F0F;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.1px;
}

/* MAIN teacher--section */

.teacher--section{
  margin-top: 192px;
}

.teacher--card{
  display: flex;
  height: 535.906px;
  align-items: center;
  gap: 93px;
}

.teacher--card img{
  margin: -18px 0 0 14px;
}

.teacher--content{
  display: flex;
  width: 500px;
  max-width: 100%;
  padding-bottom: 12.891px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.teacher--content h2{
  color: #0F0F0F;
  font-size: 38px;
  line-height: 1.2; /* 120% */
  letter-spacing: 1px;
}

.teacher--content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.23px;
}

/* MAIN editing--section */

.editing--section{
  margin-top: 89px;
}

.editing--card{
  display: flex;
  height: 503px;
  align-items: center;
  gap: 118px;
}

.editing--content{
  display: flex;
  width: 493px;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.editing--content h2{
  color: #0F0F0F;
  font-size: 38px;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.1px;
}

.editing--content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.2px;
}

/* MAIN included--section */

.included--section{
  background: #017CFF;
  min-height: 424px;
  margin-top: 102.39px;
  padding-top: 95.61px;
}

.included{
  min-height: 232px;
}

.included--list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.included h2{
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.8px;
  margin-bottom: 49px;
}

.include--card h3{
  color: #FFF;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8; /* 80% */
}

.include--card p{
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.588; /* 158.824% */
}

.include--card{
  display: flex;
  width: 194px;
  height: 123px;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  flex-shrink: 0;
}

.include--card--1{
  padding: 0 59px 15.609px 60px;
}

.include--card--2{
  padding: 0 17px 15.609px 18px;
}

.include--card--3{
  padding: 0 45px 15.609px 45px;
}

.include--card--4{
  padding: 0 32px 15.609px 33px;
}

.include--card--5{
  padding: 0 21px 15.609px 21px;
}

/* MAIN curriculum--section */

.curriculum--section{
  margin-top: 95.61px;
}

.curriculum{
  text-align: center;
}

.curriculum h2{
  color: #0F0F0F;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  margin-bottom: 63.61px;
  letter-spacing: 1px;
}

.curriculum--grid{
  display: flex;
  justify-content: center;
}

.curriculum--list{
  display: flex;
  width: 600px;
  max-width: 100%;
  padding: 0.391px 0 11.609px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.curriculum--list li{
  width: 600px;
  height: 66px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: #464646;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.579; /* 157.895% */
  background-color: #EDEDED;
  justify-content: space-between;
  letter-spacing: 0.25px;
}

/* MAIN stats--section */

.stats--section{
  margin-top: 96.39px;
}

.stats{
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.stats--image{
  display: flex;
  justify-content: end;
}

.card--wrapper{
  flex-shrink: 0;
  padding:0 50px;
}

.card--wrapper h2{
  color: #0F0F0F;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  margin-bottom: 63.61px;
  letter-spacing: 1.12px;
}

.stats--grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}

.stats--card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 246.5px;
  height: 164px;
}

.stats--card p{
  color: #0F0F0F;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.1px;
}

/* MAIN testimonials--section */

.testimonials--section{
  height: 554px;
  background: #194677;
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials{
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  padding: 0 2px;
}

.testimonials--text{
  color: #FFF;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3; /* 130% */
  margin: 20px 0;
  letter-spacing: 0.5px;
}

.testimonials--text span{
  color: #E48D8B;
}

.testimonials--image{
  display: block;
  object-fit: cover;
  margin: 0 auto 15px auto;
}

.testimonials h3{
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.59; /* 158.824% */
}

/* Main questions--section */

.questions-section{
  margin-bottom: 122px;
}

.questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 63px;
}

.questions h2{
  color: #0F0F0F;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
  letter-spacing: 1.5px;
}

.questions--list{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.questions--item{
  max-width: 800px;
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 8px;
}

.questions--item--content{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0 26px 0;
}

.questions--item--content p{
  color: #0F0F0F;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px; /* 140% */
  letter-spacing: 0.35px;
}